@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --roxo-principal: #9f35f0;
  --roxo-opacidade-15: rgba(159, 53, 240 0.15);
  --roxo-secundario: #8758ea;
  --roxo-secundario-opacidade-15: rgba(135, 88, 234, 0.25);
  --azul-principal: #35f0e9;
  --azul-secundario: #51bde9;
  --azul-terciario: #5ea4ea;
  --texto-preto: #1c1c1c;
  --texto-cinza: #5b5b5b;
  --texto-branco: #f5f5f5;
  --branco: #fefefe;
  --branco-secundario: #f8f7f9;
  --branco-opacidade: rgb(254, 254, 254, 0.75);
  --preto: #010101;
  --lilas-fundo: rgba(239, 232, 245, 1);
  --cinza-claro: #C1C1C1;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

body {
  background: var(--branco-secundario);
  background-image: url(./assets/bolinhas_fundo.svg);
  background-size: cover;
}

.title-roxo{
    color: var(--roxo-principal);
}

