button{
    padding: 0px 32px;
    height: 48px;
    border-radius: 100px;
    font-family: "Poppins";
   font-size: 18px;
   display: flex;
   align-items: center;
   
}

.roxo{
    background-color: var(--roxo-principal);
    color: white;
    border-color: var(--roxo-principal);
    border: none;
}

.branco{
    background-color: var(--branco);
    
}