input{
    padding: 0px 25px;
    height: 48px;
    border-radius: 100px;
}

.componet-input{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-right: 24px;
    row-gap: 8px;
    width: 100%;
}

.titulo-input{
    font-family: "Poppins";
    margin-left: 30px;
    font-weight: bold;
    font-size: 16px;
}



