

.section-perfil {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20vw;
}

.section-perfil .container-perfil {
  width: 100%;
  padding: 24px 0;
}

.section-perfil .container-perfil .content-perfil {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: flex-start;
}

.section-perfil .container-perfil .content-perfil .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-perfil .container-perfil .group-button {
  width: 100%;
  display: flex;
  column-gap: 8px;
  justify-content: flex-end;
}

.section-perfil .container-perfil .content-perfil .informations-perfil {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.section-perfil
  .container-perfil
  .content-perfil
  .informations-perfil
  .group-button
  button {
  padding: 0 24px;
  height: 44px;
  font-weight: 600;
  letter-spacing: -0.03rem;
  transition: 0.3 all linear;
}

.section-perfil
  .container-perfil
  .content-perfil
  .informations-perfil
  .group-button
  .roxo {
  background-color: var(--roxo-principal);
  color: var(--texto-branco);
  border: none;
}

.section-perfil
  .container-perfil
  .content-perfil
  .informations-perfil
  .group-button
  .sem-fundo {
  background-color: transparent;
  border: none;
  color: var(--texto-cinza);
}
