.servicos-container {
    margin-bottom: 20px; /* Espaçamento entre a input e os outros elementos */
}

.servicos-input {
    border: 1.5px solid var(--texto-cinza);
    border-radius: 24px;
    padding: 24px;
    margin-top: 10px;
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 20px;
}

.servico-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.servico-item span {
    margin-left: 5px;
}

.titulo-input {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
       margin-left: 30px;
}

.servico-item.selected {
    color: #000000; /* Cor do ícone quando selecionado */
}

.selected-text {
    color: #000000; /* Cor do texto quando selecionado */
}
